<footer id="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<h4 class="service-heading">About</h4>
				<p class="text-muted">Company</p>
				<p class="text-muted">Job</p>
				<p class="text-muted">Space</p>
				<p class="text-muted">Engineering</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<h4 class="service-heading">Team Solution</h4>
				<p class="text-muted">Marketing</p>
				<p class="text-muted">Project management</p>
				<p class="text-muted">Manager</p>
			</div>
			 <div class="clearfix visible-xs-block"></div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<h4 class="service-heading">Apps</h4>
				<p class="text-muted">Integration</p>
				<p class="text-muted">IOS</p>
				<p class="text-muted">Android</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<h4 class="service-heading">Support</h4>
				<p class="text-muted">Customer Success</p>
				<p class="text-muted">Term & Policy</p>
				<p class="text-muted">Contact Us</p>
				<p class="text-muted">Developer</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 text-muted ">
				<div class=" border-top">
					&copy; 2017 sampleEmberDemo.com
				</div>
			</div>
		</div>
	</div>
</footer>
