
<!-- Navigation -->
<!-- Brand and toggle get grouped for better mobile display -->
    
{{#bs-navbar class='navbar-custom ' fluid=false as |navbar|}}

    <div class="navbar-header page-scroll">
        {{navbar.toggle}}
        <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
    </div>
    {{#navbar.content class='navbar-right'}}
        {{#navbar.nav as |nav|}}
            {{#nav.item}}
                <a href="#page-top"></a>
            {{/nav.item}}
            {{#nav.item}}
                <a class="page-scroll" href="#pricing" {{action 'showModal'}}>Pricing</a>
            {{/nav.item}}
            {{#nav.item}}
                <a class="page-scroll" href="#about">About</a>
            {{/nav.item}}
            {{#nav.item}}
                <a class="page-scroll" href="#contact-us">Contact</a>
            {{/nav.item}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}
<!-- /.navbar-collapse -->
{{pricing-modal title="Subsription Plans" showModal=showModal pricing_data=pricing_data}}