<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
	<span class="fa-stack fa-4x">
		<i class="fa {{service.icon}} fa-stack-1x fa-inverse service-icon"></i>
	</span>
	<h4 class="service-heading">{{service.name}}</h4>
	<p class="text-muted">{{service.description}}</p>
</div>