#contact-us{
	color:#ffffff;
	background-color:#333;
	text-align:center;
	.sub-heading{
		p{
			font-size: 15px;
		    line-height: 30px;
		    margin: auto;
		    margin-bottom: 15px;
			@media (min-width: 768px) {
				font-size: 18px;
				width: 50%;
		    }
		}
	}
	.contact-form-section{
		.service-heading, .text-muted{
			text-align:left;
		}
		.social-buttons{
			text-align:left;
			li{
				text-align:center;
			}
		}
		input,textarea{
		    background: #565656;
		    border: none;
    		color: #ffffff;
    	}
    	.btn-submit{
    		background-color:#252525;
    	}
    	.help-block{
    		border-radius:3px;
    	}
	}
}